/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background:#C21717 url(bg.jpg) repeat-x top center;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.jumbotron h1, .jumbotron h2{
  font-family: 'Mountains of Christmas', cursive;
}
.jumbotron h3{
  font-size: 18px;
}

.jumbotron h2{
  color: #ffffff;
  border: 1px solid #ffffff;
  background: #ffffff;
  border-radius: 10px;
}

.jumbotron h2:hover{
  color: #ffffff;
  border: 1px solid #ffffff;
  background: transparent;
}

.jumbotron h2 p,.jumbotron h2 ul{
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.jumbotron h2 ul li{
  line-height: normal;
  list-style: none;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
} 
.marketing p + h4 {
  margin-top: 28px;
}
.jumbotron h2 {
  font-size: 40px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .jumbotron h1 {
  font-size: 58px;
  }
  .jumbotron h2 {
  font-size: 70px;
  line-height: 1.3em;
  }  
}
@media screen and (max-width: 768px) {
  .header {
  margin-bottom: 20px;
  }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background-color: #3C8D0D;
  border-color: #3C8D0D;
}


.text-muted{
  color: #FFF2F0;
}

.jumbotron{
  background-color: #3C8D0D;
  border-color: #3C8D0D;
  color: #FFF2F0;
}
