body {
  padding-bottom: 40px;
  background:#C21717 url(bg.jpg) repeat-x top center;
}

h2{
  color: #FFF2F0;
  font-size: 40px;
  text-align: center;
  font-family: 'Mountains of Christmas', cursive;
  padding-bottom: 10px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary{

  background-color: #3C8D0D;
  border-color: #3C8D0D;
}
.btn-primary:hover{

  background-color: #C5A436;
  border-color: #C5A436;
}

